### Applied If-Else Statements (Conditionals)

#### True or False ?

In [1]:
a = True
if a:
    print("It is printed since 'a' is assigned with True boolean value")
else:
    print("a is False!")

It is printed since 'a' is assigned with True boolean value

In [2]:
a = False
if a:
    print("It is printed since 'a' is assigned with True boolean value")
else:
    print("a is False!")

a is False!

#### Check Ranges

In [3]:
n = 15
#Check If the number is between 1 to 10
if n>=1 and n<=10:
    print("too low")

#Check If the number is between 11 to 20
elif n>=10 and n<=20:
    print("medium")

#Check If the number is between 21 to 30
elif n>=20 and n<=30:
    print("large")
#Check if the number is greater than 30 
else:
    print("too large")

medium

### The Typecasting

In [5]:
a = '55'
b = int(2.9)
print(type(b))

<class 'int'>

In [6]:
c = float(b) #typecasting: Changing the value's data type
print(c)
print(type(c))

2.0
<class 'float'>

### Applied "While" Loop

#### Reverse of a number

In [8]:
def reverse(n): # more about functions in next module
    rev = 0
    while(n >0):
        rem = n % 10
        rev = (rev * 10) + rem
        n = n//10
    return rev        
n=int(input())
result = reverse(n)
print(result)

576
675

### The Break Keyword

In [9]:
i = 1
while i < 10:
    if i == 5:
        break #terminates the loop
    print(i)
    i = i + 1

1
2
3
4

#### Determine if the number is prime

In [14]:
n = int(input())
a = 2
flag = False
while a < n:
    if (n % a == 0):
        flag = True
        break
    a = a + 1

if flag:
    print("Not Prime")
else:
    print("Prime")

5
Prime

### The "For" Loop

Implementing the above 'prime number check' program with "for-loop" instead of while-loop

In [15]:
n = int(input())
flag = False
for a in range(2, n, 1):
    if n % a == 0:
        flag = True
        break
if flag:
    print("Not Prime")
else:
    print("Prime")

5
Prime

### Else keyword with Loops

In [21]:
i = 1
while i < 10:
    print(i)
    i = i + 1
else:                  #breaks the loop
    print("Finished")

1
2
3
4
5
6
7
8
9
Finished

In [22]:
for i in range (1, 10): #the range function
    if i == 5:
        break
    print(i)
else:
    print("You're welcome")

1
2
3
4

In [23]:
# Predict the Output
i=1
while i<5:
    if i == 6:
        break
    print(i,end=" ")
    i = i + 1
else:
    print("Else is also printed")

1 2 3 4 Else is also printed

In [24]:
# Predict the Output
i=1
while i<5:
    if i == 3:
        break
    print(i,end= " ")
    i = i + 1
else:
    print("Else is also printed")

1 2

### Skipping the iteration: Continue Keyword

In [25]:
for i in range(1, 101, 1):
    if i == 29:
        continue #29 will be missing in the output
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [27]:
# All even numbers are printed twice but multiples of 7 should be printed only once
n = int(input())
for i in range(2, n + 1, 2):
    print(i, end = ' ')
    if i % 7 == 0:
        continue
    print(i, end = ' ')

55
2 2 4 4 6 6 8 8 10 10 12 12 14 16 16 18 18 20 20 22 22 24 24 26 26 28 30 30 32 32 34 34 36 36 38 38 40 40 42 44 44 46 46 48 48 50 50 52 52 54 54